
<h2 class="bg-primary text-center p-3 text-white">To Do Form</h2>

<form [formGroup]="todoform" (ngSubmit)="onSubmitForm()">
<div class="form-group">
    <label for="todoItem">Add Todo Item</label>
    <input type="text" formControlName="todoItem" class="form-control">
</div>
<div class="text-right">
    <button class="btn btn-outline-info mt-2" *ngIf="!isEditMode">Add Item</button>
    <button class="btn btn-outline-success mt-2" *ngIf="isEditMode" (click)="updateTodo()">Update Item</button>
</div>
</form>
